apiVersion: v1
kind: Secret
metadata:
  name: kube-prometheus-stack-grafana
  namespace: monitoring
  annotations:
    argocd.argoproj.io/sync-wave: "5"
type: Opaque
stringData:
  admin-user: admin
  admin-password: "admin"
