grafana:
  admin:
    existingSecret: grafana-admin
    userKey: admin-user
    passwordKey: admin-password

  service:
    type: NodePort
    nodePort: 32000

  persistence:
    enabled: true
    storageClassName: nfs-sc
    accessModes: ["ReadWriteOnce"]
    size: 5Gi


prometheus:
  prometheusSpec:
    retention: 10d
    retentionSize: "20GB"
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: nfs-sc
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi

alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: nfs-sc
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 2Gi
